<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionsString" connectionString="Data Source=LAPTOP-6OSHRANK\SQLEXPRESS;Initial Catalog=POS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
</configuration>